@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
.width-100 {
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  padding: 0 5% 100px 5%;
  flex: 1;
}
header {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding-bottom: 20px;
  font-family: sans-serif;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
@media (min-width: 100px) and (max-width: 319px) {
  header .header {
    flex-direction: column;
  }
}
header .header h1 {
  display: flex;
  flex-direction: column;
  font-size: 8rem;
  font-weight: 600;
}
header .header h1 .fitness {
  font-size: 4.8rem;
  font-weight: 400;
}
header .header i {
  font-size: 3.5rem;
}
@media (min-width: 100px) and (max-width: 319px) {
  header .header i {
    padding-top: 20px;
  }
}
@media (min-width: 1000px) {
  header .header i {
    font-size: 4.5rem;
  }
}
header .header i:nth-child(2) {
  padding-left: 20px;
}
@media (min-width: 1000px) {
  header .header i:nth-child(2) {
    padding-left: 40px;
  }
}
header .header-p {
  text-align: left;
  font-size: 1.8rem;
}
@media (min-width: 1000px) {
  header .header-p {
    font-size: 2rem;
  }
}
header .header-p span {
  color: #694cf2;
}
nav.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav.top-nav .welcome {
  font-size: 3rem;
  width: 80%;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: 0px 1px 20px 3px #cccdd6;
  text-align: center;
}
nav.top-nav a {
  text-decoration: none;
  color: #454654;
}
@media (min-width: 1000px) {
  nav.top-nav a {
    font-size: 2.5rem;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  nav.top-nav a:nth-child(2) {
    padding-top: 15px;
  }
}
@media (min-width: 100px) and (max-width: 319px) {
  nav.top-nav a:nth-child(2) {
    padding-top: 15px;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  nav.top-nav a:nth-child(3) {
    padding-top: 15px;
  }
}
@media (min-width: 100px) and (max-width: 319px) {
  nav.top-nav a:nth-child(3) {
    padding-top: 15px;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  nav.top-nav a:nth-child(4) {
    padding-top: 15px;
  }
}
@media (min-width: 100px) and (max-width: 319px) {
  nav.top-nav a:nth-child(4) {
    padding-top: 15px;
  }
}
nav.top-nav a:hover {
  color: white;
  background: linear-gradient(0.25turn, #17ead9, #6876fa);
  border-radius: 30px;
}
.home {
  font-size: 2rem;
  padding: 1.5rem 1rem;
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: 0px 1px 20px 3px lightgray;
}
@media (min-width: 320px) and (max-width: 500px) {
  .home {
    flex-direction: column;
  }
}
@media (min-width: 100px) and (max-width: 319px) {
  .home {
    flex-direction: column;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#454654, #cccdd6);
  border-radius: 3rem 3rem 0 0;
  padding: 10px 20px;
  font-family: sans-serif;
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-content .footer-section1 h2 {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-weight: 600;
  color: white;
}
@media (min-width: 1000px) {
  footer .footer-content .footer-section1 h2 {
    font-size: 6rem;
  }
}
footer .footer-content .footer-section1 h2 .fitness {
  font-size: 3rem;
  font-weight: 400;
}
@media (min-width: 1000px) {
  footer .footer-content .footer-section1 h2 .fitness {
    font-size: 3.5rem;
  }
}
footer .footer-content .footer-section2 p {
  color: white;
  font-size: 1.2rem;
  line-height: 18px;
}
@media (min-width: 1000px) {
  footer .footer-content .footer-section2 p {
    font-size: 1.6rem;
    line-height: 24px;
  }
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0 0;
}
@media (min-width: 1000px) {
  .card-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.card-container .card-content {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.card-container .card1 {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background: linear-gradient(0.25turn, #44398c, #6876fa);
}
@media (min-width: 100px) and (max-width: 319px) {
  .card-container .card1 {
    flex-direction: column;
  }
}
@media (min-width: 1000px) {
  .card-container .card1 {
    flex-direction: column;
    width: 30%;
    margin-bottom: 0;
    background: linear-gradient(#44398c, #6876fa);
  }
}
.card-container .card1 img {
  padding: 10px 0 10px 20px;
}
@media (min-width: 1000px) {
  .card-container .card1 img {
    padding: 20px 5%;
  }
}
.card-container .card1 h3 {
  font-size: 4rem;
  letter-spacing: 1.5px;
  padding: 0 0 20px 6rem;
}
@media (min-width: 1000px) {
  .card-container .card1 h3 {
    text-align: center;
    padding: 10px 0 20px 0;
    font-size: 5rem;
  }
}
.card-container .card1 p {
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 0 0 0 6rem;
}
@media (min-width: 1000px) {
  .card-container .card1 p {
    padding: 20px 0;
    text-align: center;
    font-size: 1.8rem;
  }
}
.card-container .card2 {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: #ffffff;
  background: linear-gradient(0.25turn, #90e7e0, dodgerblue);
}
@media (min-width: 100px) and (max-width: 319px) {
  .card-container .card2 {
    flex-direction: column;
  }
}
@media (min-width: 1000px) {
  .card-container .card2 {
    flex-direction: column;
    width: 30%;
    margin-bottom: 0;
    background: linear-gradient(#90e7e0, dodgerblue);
  }
}
.card-container .card2 img {
  padding: 10px 20px 10px 0;
}
@media (min-width: 1000px) {
  .card-container .card2 img {
    padding: 20px 5%;
  }
}
.card-container .card2 h3 {
  font-size: 4rem;
  padding: 0 0 20px 3rem;
  letter-spacing: 1.5px;
}
@media (min-width: 1000px) {
  .card-container .card2 h3 {
    text-align: center;
    padding: 10px 0 20px 0;
    font-size: 5rem;
  }
}
.card-container .card2 p {
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 0 0 0 3rem;
}
@media (min-width: 1000px) {
  .card-container .card2 p {
    padding: 20px 0;
    text-align: center;
    font-size: 1.8rem;
  }
}
.card-container .card3 {
  width: 100%;
  margin-bottom: 60px;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background: linear-gradient(0.25turn, #cc5817, #fad961);
}
@media (min-width: 100px) and (max-width: 319px) {
  .card-container .card3 {
    flex-direction: column;
  }
}
@media (min-width: 1000px) {
  .card-container .card3 {
    flex-direction: column;
    width: 30%;
    margin-bottom: 0;
    background: linear-gradient(#cc5817, #fad961);
  }
}
.card-container .card3 img {
  padding: 10px 0 10px 20px;
}
@media (min-width: 1000px) {
  .card-container .card3 img {
    padding: 20px 5%;
  }
}
.card-container .card3 h3 {
  font-size: 4rem;
  letter-spacing: 1.5px;
  padding: 0 0 20px 6rem;
}
@media (min-width: 1000px) {
  .card-container .card3 h3 {
    text-align: center;
    padding: 10px 0 20px 0;
    font-size: 5rem;
  }
}
.card-container .card3 p {
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 0 0 0 6rem;
}
@media (min-width: 1000px) {
  .card-container .card3 p {
    padding: 20px 0;
    text-align: center;
    font-size: 1.8rem;
  }
}
.join {
  width: 90%;
  margin: 0 auto 80px;
  border: 1px solid #694cf2;
  border-radius: 15px;
  padding: 3rem 0;
  background: linear-gradient(0.25turn, #694cf2, #889bfb);
}
@media (min-width: 501px) and (max-width: 999px) {
  .join {
    max-width: 800px;
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .join {
    max-width: 1000px;
    width: 50%;
  }
}
.join .form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: white;
  width: 85%;
  margin: 1rem auto;
  padding: 2rem 0;
  box-shadow: 1px 1px 3px #141414;
  border-radius: 3px;
}
.join .form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.join .form-content .form {
  margin: 1rem 0;
  width: 80%;
  padding: 0.8rem;
  border: 2px solid #eff1f9;
}
.join .form-content .join-now,
.join .form-content .log-in {
  width: 80%;
  padding: 0.8rem;
  background: white;
  border: 2px solid #5e50bc;
  border-radius: 5px;
  margin: 1.5rem 0;
  font-weight: 600;
  cursor: pointer;
}
.join .form-content .join-now:hover,
.join .form-content .log-in:hover {
  background: #f2f2f2;
}
.join .form-content .or {
  display: flex;
}
.join .form-content .google {
  width: 80%;
  padding: 1rem;
  background: white;
  border: 1px solid lightgray;
  margin: 1.5rem 0;
  font-weight: 600;
  color: #606276;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join .form-content .google img {
  width: 20px;
  padding-right: 5px;
}
.join .form-content .google:hover {
  background: #f2f2f2;
}
.join .member {
  font-size: 1.8rem;
  font-weight: 600;
}
.join .member a {
  text-decoration: none;
}
.join .member a:hover {
  text-decoration: underline;
}
.p-pass-head-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 100px) and (max-width: 319px) {
  .p-pass-head-text {
    flex-direction: column;
  }
}
.p-pass-head-text h2 {
  width: 100%;
  color: #454654;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  padding-left: 6%;
}
.p-pass-head-text a {
  color: #454654;
  padding-left: 2%;
}
.p-pass-head-text i {
  font-size: 6rem;
}
.p-pass-create-form {
  padding: 20px 0;
}
.p-pass-create-form .ppc-form-container .ppc-form-content label {
  font-size: 1.5rem;
  padding: 10px 0 5px 3px;
  color: #606276;
}
.p-pass-create-form .ppc-form-container .ppc-form-content input {
  font-size: 1.8rem;
  border: 1px solid #8f91a2;
  border-radius: 0.5rem;
  padding: 10px 0;
  box-shadow: inset 0px 0.5px 3px #8f91a2;
}
.p-pass-create-form .ppc-form-container .ppc-form-content .ppc-form-div {
  display: flex;
  flex-direction: column;
}
.p-pass-create-form .ppc-form-container .ppc-form-content .ppc-form-div .ppc-form-desc {
  padding-top: 15px;
}
.p-pass-create-form .ppc-form-container .ppc-form-content .ppc-form-div-alt {
  display: flex;
  flex-direction: row;
}
@media (min-width: 100px) and (max-width: 319px) {
  .p-pass-create-form .ppc-form-container .ppc-form-content .ppc-form-div-alt {
    flex-direction: column;
  }
}
.p-pass-create-form .ppc-form-container .ppc-form-content .ppc-form-div-alt .ppc-form-div-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.p-pass-create-form .ppc-form-container .ppc-form-content .ppc-form-div-alt .ppc-form-div-2:nth-child(1) {
  padding-right: 1%;
}
.p-pass-create-form .ppc-form-container .ppc-form-content .ppc-form-div-alt .ppc-form-div-2:nth-child(2) {
  padding-left: 1%;
}
.p-pass-create-form .ppc-form-container textarea {
  font-size: 1.5rem;
  border: 1px solid #8f91a2;
  border-radius: 0.5rem;
  box-shadow: inset 0px 0.5px 3px #8f91a2;
}
.p-pass-create-form .ppc-form-container button {
  color: #fff;
  font-size: 2.2rem;
  padding: 15px 0;
  margin: 60px 0 0 0;
  border: 1px solid #6876fa;
  border-radius: 0.5rem;
  background: linear-gradient(#5e50bc, #889bfb);
}
@media (min-width: 501px) and (max-width: 999px) {
  .p-pass-create-form .ppc-form-container button {
    margin: 60px auto 0 auto;
    width: 60%;
  }
}
@media (min-width: 1000px) {
  .p-pass-create-form .ppc-form-container button {
    margin: 60px auto 0 auto;
    width: 60%;
  }
}
.mkt-header-p {
  font-size: 1.8rem;
  color: #454654;
}
@media (min-width: 501px) and (max-width: 999px) {
  .mkt-header-p {
    font-size: 2rem;
  }
}
@media (min-width: 1000px) {
  .mkt-header-p {
    font-size: 2.2rem;
  }
}
.cta-container {
  margin: 0 1.5%;
  color: #454654;
}
.cta-container .abov-carous-head {
  margin: 50px 0 30px 0;
  padding: 40px 0;
  text-align: center;
  color: #454654;
  letter-spacing: 1px;
}
.cta-container .abov-carous-head hr {
  width: 60%;
}
@media (min-width: 100px) and (max-width: 319px) {
  .cta-container .abov-carous-head {
    font-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  .cta-container .abov-carous-head {
    font-size: 2.4rem;
  }
}
@media (min-width: 501px) and (max-width: 999px) {
  .cta-container .abov-carous-head {
    font-size: 2.8rem;
  }
}
@media (min-width: 1000px) {
  .cta-container .abov-carous-head {
    font-size: 3rem;
  }
}
.cta-container .abov-carous-head p {
  font-size: 2rem;
  margin: 20px 0 0 0;
}
@media (min-width: 320px) and (max-width: 500px) {
  .cta-container .abov-carous-head p {
    font-size: 1.2rem;
  }
}
@media (min-width: 100px) and (max-width: 319px) {
  .cta-container .abov-carous-head p {
    font-size: 1.2rem;
  }
}
@media (min-width: 501px) and (max-width: 999px) {
  .cta-container .abov-carous-head p {
    font-size: 1.6rem;
  }
}
.cta-container .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 1000px;
  position: relative;
  overflow: hidden;
  margin: 16px auto 0 auto;
  border: 2px solid #cccdd6;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 1px #cccdd6;
}
@media (min-width: 100px) and (max-width: 319px) {
  .cta-container .carousel {
    height: 300px;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  .cta-container .carousel {
    height: 500px;
  }
}
@media (min-width: 501px) and (max-width: 999px) {
  .cta-container .carousel {
    height: 650px;
  }
}
.cta-container .carousel .left-button,
.cta-container .carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #454654;
  background-color: #fefefe;
  border: 2px solid #454654;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.cta-container .carousel .left-button:hover,
.cta-container .carousel .right-button:hover {
  color: #fefefe;
  background-color: #454654;
  border: 2px solid #fefefe;
}
.cta-container .carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.cta-container .carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.cta-container .carousel img {
  width: 100%;
  max-height: 100%;
  height: auto;
  display: none;
}
.cta-container .info-container {
  padding: 60px 0 0 0;
}
.cta-container .info-container .ic-h2 {
  text-align: center;
  font-size: 4rem;
}
.cta-container .info-container .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cta-container .info-container .info .info-card h2 {
  font-size: 2rem;
  padding: 20px 0 10px 0;
}
.cta-container .info-container .info .info-card p {
  font-size: 1.2rem;
  letter-spacing: 0.7px;
}
.about {
  margin: 4rem auto;
}
.about .cobrettie {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem 0;
}
@media (min-width: 1000px) {
  .about .cobrettie {
    flex-direction: row;
  }
}
.about .user-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 4rem;
  margin: 3rem 0;
}
.about .user-media a {
  color: black;
}
.about .user-media a:hover {
  font-size: 4.5rem;
}
.about .ray {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem 0;
}
@media (min-width: 1000px) {
  .about .ray {
    flex-direction: row;
  }
}
.about .about-para {
  width: 98%;
  margin: 2rem auto;
}
@media (min-width: 1000px) {
  .about .about-para {
    width: 47%;
    margin: 2rem auto;
  }
}
.about .about-para h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.about .about-para p {
  font-size: 2rem;
  line-height: 1.5;
}
.about .about-images {
  width: 98%;
}
@media (min-width: 1000px) {
  .about .about-images {
    width: 47%;
    margin: 2rem auto;
  }
}
.about .about-images .about-img {
  width: 98%;
  border: 1px solid white;
  border-radius: 50%;
}
