/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.container {
  padding: 5%;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem;
}
header .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header h1 {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-weight: 600;
}
header .header h1 .fitness {
  font-size: 2.5rem;
  font-weight: 400;
}
header .header i {
  font-size: 3rem;
}
header .header-p {
  text-align: center;
  font-size: 1.6rem;
}
.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-nav .welcome {
  font-size: 3rem;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: 3px 3px 3px 3px lightgray;
}
.top-nav a {
  text-decoration: none;
  color: black;
}
.home {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: 0px 1px 5px 1px lightgray;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 20px 0;
}
.card-container .card1 {
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffffff;
  background: linear-gradient(0.25turn, #44398c, #6876fa);
}
.card-container .card1 img {
  width: 20%;
  height: auto;
}
.card-container .card1 h3 {
  font-size: 2.5rem;
}
.card-container .card1 p {
  font-size: 1.2rem;
}
.card-container .card2 {
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background: linear-gradient(0.25turn, #90e7e0, dodgerblue);
}
.card-container .card2 h3 {
  font-size: 2.5rem;
}
.card-container .card2 p {
  font-size: 1.2rem;
}
.card-container .card3 {
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background: linear-gradient(0.25turn, #cc5817, #fad961);
}
.card-container .card3 h3 {
  font-size: 2.5rem;
}
.card-container .card3 p {
  font-size: 1.2rem;
}
.join {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #694cf2;
  border-radius: 15px;
  padding: 3rem 0;
  background: linear-gradient(0.25turn, #694cf2, #889bfb);
}
.join .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: white;
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
  box-shadow: 2px 2px 2px darkgray;
}
.join .form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.join .form-content #form {
  margin: 1rem;
  width: 30rem;
  padding: 0.5rem;
  border: 1px solid #606276;
}
