footer {
    // height: 2.5rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(@mako, @ghost);
    border-radius: 1rem 1rem 0 0;

    padding: 20px;

    .footer-content {
        flex-shrink: 0;

        footer-section1 {
            // align-items: flex-start;
        }
    }


}