.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0 0;

  @media @desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 20px 0;
  }

  .card1 {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    color: @white;
    background: linear-gradient(0.25turn, @gigas, @cornflower-blue);

    @media @vsmall,
    @phone {
      flex-direction: column;
    }

    @media @desktop {
      flex-direction: column;
      width: 30%;
      margin-bottom: 0;
      background: linear-gradient(@gigas, @cornflower-blue);
    }

    img {
      padding: 10px 0 10px 20px;

      @media @vsmall,
      @phone {
        padding: 10px;
      }

      @media @desktop {
        padding: 20px 5%;
      }
    }

    h3 {
      font-size: 4rem;
      letter-spacing: 1.5px;
      padding: 0 0 20px 6rem;

      @media @vsmall {
        font-size: 3rem;
      }

      @media @vsmall,
      @phone {
        text-align: center;
        padding: 0 10px 20px 10px;
      }

      @media @desktop {
        text-align: center;
        padding: 10px 0 20px 0;
        font-size: 5rem;
      }
    }

    p {
      font-size: 1.4rem;
      letter-spacing: 1px;
      padding: 0 0 0 6rem;

      @media @vsmall,
      @phone {
        text-align: center;
        padding: 0 10px;
      }

      @media @desktop {
        padding: 20px 0;
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }

  .card2 {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: @white;
    background: linear-gradient(0.25turn, @riptide, dodgerblue);

    @media @vsmall,
    @phone {
      flex-direction: column;
    }

    @media @desktop {
      flex-direction: column;
      width: 30%;
      margin-bottom: 0;
      background: linear-gradient(@riptide, dodgerblue);
    }

    img {
      padding: 10px 20px 10px 0;

      @media @vsmall,
      @phone {
        padding: 10px;
      }

      @media @desktop {
        padding: 20px 5%;
      }
    }

    h3 {
      font-size: 4rem;
      padding: 0 0 20px 3rem;
      letter-spacing: 1.5px;

      @media @vsmall {
        font-size: 3rem;
      }

      @media @vsmall,
      @phone {
        text-align: center;
        padding: 0 10px 20px 10px;
      }

      @media @desktop {
        text-align: center;
        padding: 10px 0 20px 0;
        font-size: 5rem;
      }
    }

    p {
      font-size: 1.4rem;
      letter-spacing: 1px;
      padding: 0 0 0 3rem;

      @media @vsmall,
      @phone {
        text-align: center;
        padding: 0 10px;
      }

      @media @desktop {
        padding: 20px 0;
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }

  .card3 {
    width: 100%;
    margin-bottom: 60px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    color: @white;
    background: linear-gradient(0.25turn, @orange-roughy, @energy-yellow);

    @media @vsmall,
    @phone {
      flex-direction: column;
    }

    @media @desktop {
      flex-direction: column;
      width: 30%;
      margin-bottom: 0;
      background: linear-gradient(@orange-roughy, @energy-yellow);
    }

    img {
      padding: 10px 0 10px 20px;

      @media @vsmall,
      @phone {
        padding: 10px;
      }

      @media @desktop {
        padding: 20px 5%;
      }
    }

    h3 {
      font-size: 4rem;
      letter-spacing: 1.5px;
      padding: 0 0 20px 6rem;

      @media @vsmall {
        font-size: 3rem;
      }

      @media @vsmall,
      @phone {
        text-align: center;
        padding: 0 10px 20px 10px;
      }

      @media @desktop {
        text-align: center;
        padding: 10px 0 20px 0;
        font-size: 5rem;
      }
    }

    p {
      font-size: 1.4rem;
      letter-spacing: 1px;
      padding: 0 0 0 6rem;

      @media @vsmall,
      @phone {
        text-align: center;
        padding: 0 10px;
      }

      @media @desktop {
        padding: 20px 0;
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
}