.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;

    @media @desktop {
        flex-direction: row;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        padding: 20px 0;
    }


    .card1 {
        width: 100%;
        margin-bottom: 30px;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        color: @white;
        background: linear-gradient(0.25turn, @gigas, @cornflower-blue);

        img {
            padding: 10px 0 10px 20px;
        }

        h3 {
            font-size: 4rem;
            letter-spacing: 1.5px;
            padding: 0 0 20px 6rem;
        }

        p {
            font-size: 1.4rem;
            letter-spacing: 1px;
            padding: 0 0 0 6rem;
        }

        @media @desktop {
            flex-direction: column;
            width: 30%;

            p {
                font-size: 1.4rem;
                letter-spacing: 1px;
                padding: 0 0 0 6rem;
            }
        }
    }

    .card2 {
        width: 100%;
        margin-bottom: 30px;
        border-radius: 1rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: @white;
        background: linear-gradient(0.25turn, @riptide, dodgerblue);

        img {
            padding: 10px 20px 10px 0;
        }

        h3 {
            font-size: 4rem;
            padding: 0 0 20px 3rem;
            letter-spacing: 1.5px;
        }

        p {
            font-size: 1.4rem;
            letter-spacing: 1px;
            padding: 0 0 0 3rem;
        }
    }

    .card3 {
        width: 100%;
        margin-bottom: 60px;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        color: @white;
        background: linear-gradient(0.25turn, @orange-roughy, @energy-yellow);

        img {
            padding: 10px 0 10px 20px;
        }

        h3 {
            font-size: 4rem;
            letter-spacing: 1.5px;
            padding: 0 0 20px 6rem;
        }

        p {
            font-size: 1.4rem;
            letter-spacing: 1px;
            padding: 0 0 0 6rem;
        }
    }
}