.join {
    width: 90%;
    margin: 0 auto;
    border: 1px solid @royal-blue;
    border-radius: 15px;
    padding: 3rem 0;
    background: linear-gradient(0.25turn, @royal-blue, @malibu);

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: white;
        width: 85%;
        margin: 0 auto;
        padding: 2rem 0;
        box-shadow: 2px 2px 2px darkgray;
    }

    .form-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        #form {
            margin: 1rem;
        }
    }
}