.mkt-header-p {
    font-size: 1.8rem;
    color: @mako;
    text-transform: ;
}

.abov-carous-head {
    margin: 50px 1.5% 30px 1.5%;
    padding: 40px 0;
    text-align: center;
    font-size: 5rem;
    color: @mako;
    letter-spacing: 1px;
    // text-transform: uppercase;
    border: 2px solid @ghost;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px @ghost;
    // background: linear-gradient(@ghost, @mako);

    p {
        font-size: 2rem;
        margin: 20px 0 0 0;
    }
}

// Carousel styling
.carousel {
    .width-100();
    .flex(center, center);
    height: 1000px;
    position: relative;
    overflow: hidden;
    margin: 16px auto 0 auto;
    border: 2px solid @ghost;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px @ghost;

    // width: 9999px;

    @media @desktop {
        width: 1000px;
    }


    .left-button,
    .right-button {
        .flex(center);
        color: @mako;
        background-color: #fefefe;
        border: 2px solid @mako;
        font-size: 40px;
        border-radius: 50%;
        position: absolute;
        width: 50px;
        height: 50px;
        cursor: pointer;

        &:hover {
            color: #fefefe;
            background-color: @mako;
            border: 2px solid #fefefe;
        }
    }

    .left-button {
        top: 50%;
        left: 25px;
        transform: translate(0, -50%);
    }

    .right-button {
        top: 50%;
        right: 25px;
        transform: translate(0, -50%);
    }

    img {
        .width-100();
        max-height: 100%;
        height: auto;
        display: none;
    }
}