.mkt-header-p {
    font-size: 1.8rem;
    color: @mako;

    @media @tablet {
        font-size: 2rem;
    }

    @media @desktop {
        font-size: 2.2rem;
    }
}

// Carousel styling
.cta-container {
    margin: 0 1.5%;
    color: @mako;


    .abov-carous-head {
        padding: 75px 0 36px 0;
        text-align: center;
        color: @mako;
        letter-spacing: 1px;

        // Design for border surrounding 
        // border: 2px solid @ghost;
        // border-radius: 1rem;
        // box-shadow: 0px 0px 5px 1px @ghost;

        hr {
            width: 95%;
        }

        @media @vsmall {
            font-size: 2.8rem;
        }

        @media @phone {
            font-size: 3rem;
        }

        @media @tablet {
            font-size: 3.2rem;
        }

        @media @desktop {
            font-size: 3.4rem;
        }

        p {
            font-size: 2rem;
            margin: 20px 0 0 0;

            @media @phone,
            @vsmall {
                font-size: 1.2rem;
            }

            @media @tablet {
                font-size: 1.6rem;
            }
        }
    }


    .carousel {
        .width-100();
        max-width: 1400px;
        .flex(center, center);
        height: 90vh;
        position: relative;
        overflow: hidden;
        margin: 16px auto 0 auto;
        border: 2px solid @ghost;
        border-radius: 1rem;
        box-shadow: 0px 0px 5px 1px @ghost;

        @media @vsmall {
            height: 40vh;
        }

        @media @phone {
            height: 50vh;
        }

        @media @tablet {
            height: 650px;
        }


        .left-button,
        .right-button {
            .flex(center, center);
            color: @mako;
            background-color: #fefefe;
            border: 2px solid @mako;
            font-size: 40px;
            border-radius: 50%;
            position: absolute;
            width: 50px;
            height: 50px;
            cursor: pointer;

            // @media @phone {
            //     .width-100();
            //     max-height: 100%;
            //     height: auto;
            //     display: none;
            // }

            &:hover {
                color: #fefefe;
                background-color: @mako;
                border: 2px solid #fefefe;
            }
        }

        .left-button {
            top: 50%;
            left: 25px;
            transform: translate(0, -50%);
            z-index: 1;
        }

        .right-button {
            top: 50%;
            right: 25px;
            transform: translate(0, -50%);
        }

        img {
            .width-100();
            max-height: 100%;
            height: fit-content;
            display: none;

        }
    }

    .info-container {
        padding: 60px 0 0 0;

        hr {
            width: 95%;

            @media @tablet {
                width: 90%;
            }
        }


        .ic-h2 {
            text-align: center;
            font-size: 3rem;
            letter-spacing: 1px;
            // border-bottom: 1px solid @ghost;
            // width: 30%;

            @media @tablet {
                font-size: 3.2rem;
            }

            @media @desktop {
                font-size: 3.4rem;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: center;

            @media @tablet,
            @desktop {
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .info-card {

                @media @tablet,
                @desktop {
                    width: 45%;
                }

                .list-group {
                    padding: 0 0 20px 0;

                    .list-group-item {
                        font-size: 1.2rem;
                        letter-spacing: .6px;
                        // border: none;
                    }

                    h2 {
                        font-size: 1.8rem;
                    }
                }

                .list-group:nth-child(2) {
                    padding: 0;
                }

                h2 {
                    font-size: 2.1rem;
                    font-weight: 600;
                    padding: 20px 0 15px 0;
                }

                p {
                    font-size: 1.3rem;
                    letter-spacing: .7px;
                    padding-bottom: 20px;

                    a {
                        color: @blue-violet;
                        text-decoration: underline;
                    }

                    mark {
                        background-color: @white-lilac;
                    }
                }
            }
        }
    }
}