.p-pass-head-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    h2 {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding-left: 6%;
    }

    a {
        color: @mako;
        padding-left: 2%;

    }


    i {
        font-size: 4rem;
    }
}