// Primary PURPLE colors
@jacarta: #2d265e;
@gigas: #44398c;
@blue-violet: #5e50bc;
@royal-blue: #694cf2;
@cornflower-blue: #6876fa;
@malibu: #889bfb;
@corn-blue2: #7b7cf9;


// Accent ORANGE set 
@rebel: #421c07;
@korma: #80360c;
@orange-roughy: #cc5817;
@ecstasy: #f76b1c;
@sandy-orange: #f48d53;
@tacao: #eeaa85;
@linen: #f8e3d8;

// Accent GREEN set
@tiber: #063e39;
@surfie-green: #0d7c73;
@mountain-meadow: #12ab9f;
@bright-turq: #17ead9;
@riptide: #90e7e0;
@zigg: #c1e4e1;
@porcelain: #f5f8f8;

// Accent YELLOW set
@dallas: #5b4f20;
@roti: #c1a84f;
@anzac: #e0c153;
@energy-yellow: #fad961;
@marzipan: #f8e190;
@givry: #f8ecbf;
@white-linen: #faf8ef;

// Accent GREY set
@black: #000000;
@mako: #454654;
@comet: #606276;
@manatee: #8f91a2;
@ghost: #cccdd6;
@white-lilac: #eff1f9;
@white: #ffffff;


// Add media query variables

// Mobile 
@phone: ~"(max-width: 500px)";

// Tablet
@tablet: ~"(min-width: 801px) and (max-width: 1000px)";

// Desktop 
@desktop: ~"(min-width: 1001px)"