// Primary purple colors
@primary-purple1: #2d265e;
@primary-purple2: #44398c;
@primary-purple3: #5e50bc;
@primary-purple4: #694cf2;
@primary-purple5: #6876fa;
@primary-purple6: #889bfb;
@primary-purple7: #7b7cf9;


// Accent orange set 
@accent-orange1: #421c07;
@accent-orange2: #80360c;
@accent-orange3: #cc5817;
@accent-orange4: #f76b1c;
@accent-orange5: #f48d53;
@accent-orange6: #eeaa85;
@accent-orange7: #f8e3d8;

// Accent green set
@accent-green1: #063e39;
@accent-green2: #0d7c73;
@accent-green3: #12ab9f;
@accent-green4: #17ead9;
@accent-green5: #90e7e0;
@accent-green6: #c1e4e1;
@accent-green7: #f5f8f8;

// Accent yellow set
@accent-yellow1: #5b4f20;
@accent-yellow2: #c1a84f;
@accent-yellow3: #e0c153;
@accent-yellow4: #fad961;
@accent-yellow5: #f8e190;
@accent-yellow6: #f8ecbf;
@accent-yellow7: #faf8ef;